*{
	margin: 0;
	padding: 0;
}
/*********************************
     header section css
*********************************/

header{
	width: 100%;
	background: black;
}
.sticky{
	width: 100%;
	position: fixed;
	z-index: 9990;
	background: rgba(0,0,0,0.5);
}
.nav-link{
	color: #ffffffd9 !important;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
}
.nav-item{
	margin-left: 16px;
}
/*********************************
     banner section css
*********************************/
.banner{
	width: 100%;
	background: url(../image/first-banner.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}
.banner-content,.banner-form{
	height: 96vh;
    display: table-cell;
    vertical-align: middle;
}
.banner-title{
	font-size: 65px;
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-weight: 
}
.banner-title span{
	color: #ff9b51;
	font-size: 65px;
	font-weight: 100;
}
.banner-content .title{
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	color: white;
	font-weight: 400;
	width: 87%;
}
.banner-content .line{
	height: 2px;
    width: 76px;
    background: white;
    margin: 30px 0px;

}
.banner-content p{
	font-size: 16px;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    color: #ababab;
    width: 75%;
}
.banner-content button{
	color: white;
    margin-top: 20px;
    padding: 10px 30px;
    background: none;
    border: 1px solid white;
    font-size: 15px;
    font-weight: 500;
    transition: 0.4s;
}	
.banner-content button:hover{
	color: black;
	background: white;
	transition: 0.4s;

}
.banner-form h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: black;
	text-align: center;
	margin: 12px 0px;
}
.banner-form .card-header{
	background: #f5f5f5;
}
.banner-form .card{
	width: 360px;
	border: none;
}
.banner-form h3 span{
	color: #ff9b51;
}
.banner-form .form-control{
	margin-bottom: 27px;
    border-radius: 0;
    border: none;
    outline: none;
    border-bottom: 1.5px solid #e0e0e0;
}
.banner-form .form-control:focus{
	outline: none;
	box-shadow: none;
}
.banner-form form{
	padding-top: 30px;
}
.last{
	margin-bottom: 15px !important;
}
.banner-form .card-body{
	padding: 32px;
}
.banner-form .submit-btn{
	background: none;
    border: none;
    outline: none;
    padding: 10px;
    color: white;
    font-size: 15px;
    font-family: 'Open Sans';
    font-weight: 600;
    width: 100%;

}
.banner-form .card-footer{
	background: #f79750;
}
/*********************************
     banner icon section css
*********************************/
.banner-icon{
    width: 100%;
    background: #ffffff;
    padding-top: 19px;
    border-bottom: 2px solid #0000001c;
}
.icon-content{
	display: table-cell;
    vertical-align: middle;
    height: 15vh;
}
.icon-content h4{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #333333;
}
.icon-content p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #86878b;
	font-weight: 100;
}
.icon-part{
	display: table-cell;
    vertical-align: middle;
    height: 15vh;
    text-align: right;
}
.icon-part li{
	list-style: none;
	display: inline-block;
}
.icon-part i{
	font-size: 45px;
    width: 98px;
    color: #808080a8;
    cursor: pointer;
    transition: 0.4s;
}
.icon-part i:hover{
	color: #333333 !important;
	transition: 0.4s;
	cursor: pointer;
}
/*********************************
    feature section css
*********************************/
.features{
	width: 100%;
	padding: 110px 0px;
	background: #f5f5f5;
}
.feature-tab{
	padding: 0;
	margin: 0;
}
.feature-tab .tab{
	line-height: 105px;
    background: #333333;
    list-style: none;
    margin-bottom: 1px;
    width: 105px;
    height: 105px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: white;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}
.feature-tab .tab:first-child{
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.feature-tab .tab:last-child{
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.current{
	background: #f79750 !important;
}
.feature-tab .tab:hover{
	background: #f79750;
	transition: 0.5s;
	cursor: pointer;
}
.current:hover{
	background: #333333 !important;
	transition: 0.5s;
	cursor: pointer;
}
.tab-content h4{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #333333;
	font-weight: 700;
}
.tab-content p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #86878b;
	font-weight: 100;
	width: 85%;
	margin-top: 20px;
    padding: 7px 0px;
}
a{
	text-decoration: none;
}
.tab-content button{
	margin-top: 20px;
    background: #f79750;
	padding: 9px 19px;
	border: none;
	transition: 0.4s;
	border-radius: 2px;
}
.tab-content button a{
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 600;
}
.tab-content button:hover{
    background: #333333;
	transition: 0.4s;
}
.feature-img{
	display: flex;
	align-items: center;
}
/*********************************
    feature list section css
*********************************/
.feature-list{
	padding: 130px 0px;
}
.list-img{
	display: flex;
	align-items: center;
}
.list-img img{
	box-shadow: 2px 2px 9px 3px #80808087;
}
.subclass h4{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #333333;
}
.subclass .dash{
	height: 2px;
    width: 75px;
    margin: 15px 0px;
    background: #f79750;
}
.subclass p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #86878b;
	font-weight: 100;
	width: 100%;
	line-height: 20px;
}
.blah h5{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #333333;
}
/*********************************
    feature picture section css
*********************************/
.feature-picture{
	width: 100%;
	padding: 100px 0px;
	background: #f5f5f5;
}
.marbel {
	padding: 15px 0px;
}
/*********************************
    awesome section css
*********************************/
.awesome{
	padding: 100px 0px;
	width: 100%;
	background: white;
	text-align: center;
}
.upper-part h2{
	font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: #212121;
    font-weight: 400;
}
.upper-part .dash{
	height: 2px;
    width: 65px;
    margin: 25px auto;
    background: #f79750;
    
}
.upper-part p{
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #86878b;
    margin-bottom: 90px;
    font-weight: 100;
}
.lower-part h4{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin: 20px 0px;
	font-weight: bold;
	color: #333333;
}
.lower-part p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #86878b;
	font-weight: 100;
	width: 100%;
	line-height: 20px;
}
/*********************************
    pricing section css
*********************************/
.pricing{
	padding: 100px 0px;
	width: 100%;
	background: #f5f5f5;
	text-align: center;
}
.p-table{
	align-items: flex-end;
}
.table-1{
	width: 100%;
	border: none;
}
.t-header{
	background: #333333;
    text-align: center;
    padding: 15px 0px;
    border-bottom: 0.1px solid white;
}
.t-header h6{
	color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
}
.t-body{
	background: #333333;
    text-align: center;
    border-bottom: 5px solid #ff8b38;
    padding-bottom: 15px;
}
.t-body h1{
	font-family: 'Raleway', sans-serif;
    font-size: 100px;
    color: white;
    font-weight: bold;
}
.t-body h1 span{
	font-size: 45px;

}
.t-body .body-text{
	color: #999999;
	font-style: italic;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px; 
}

.t-footer{
	background: white;
}
.t-footer ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.t-footer ul li{
	border-bottom: 0.5px solid #80808024;
	padding: 13px 0px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #86878b;
	font-weight: 100;
}
.t-footer ul li:nth-child(6){
	border-bottom: none;
}

.middle .t-body{
	border-bottom: 0px;
}
.middle .t-body-extra h3{
	background: #ff8b38;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Open Sans';
    padding: 10px 0px;
    margin: 0px;
}
.testimonial{
	width: 100%;
	padding: 100px 0px;
}
.upper-part{
	text-align: center;
}
.customer{
	padding-top: 50px;
}
.message{
	background: #f5f5f5;
	border-radius: 3px;
	padding: 25px;
	position: relative;
}
.msg-icon{
	background: #f5f5f5;
    height: 40px;
    width: 40px;
    transform: rotate(45deg);
    position: absolute;
    bottom: -14px;
    left: 30px;
}
.message p{
	color: #86878b;
    font-style: italic;
    font-size: 14px;
    margin: 0px;
}
.user-details{
	display: flex;
	padding: 30px 0px 40px 15px;
}
.user-photo{
	flex-basis: 27%;
}
.details{
	flex-basis: 73%;
}
.details h4{
	padding: 5px 0px;
    font-size: 20px;
    color: #333333;
    font-family: 'Open Sans';
    font-weight: 700;
    margin: 0px;
}
.details h6{
	font-size: 14px;
	color: #86878b;
	font-family: 'Open Sans';
	font-weight: 100; 
}


.second-banner{
	width: 100%;
	background: url(../image/banner-3-image.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 54px 0px;
	text-align: center;
}
.second-banner .upper-part h2{
	font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: white;
    font-weight: 400;
}
.second-banner .upper-part p{
	font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: white;
    margin-bottom: 40px;
}

.second-banner .upper-part .dash{
	height: 2px;
    width: 70px;
    margin: 25px auto;
    background: white;
}
.second-banner button{
	color: white;
    padding: 10px 30px;
    background: none;
    border: 1px solid white;
    font-size: 15px;
    font-weight: 500;
    transition: 0.4s;
}
.second-banner button:hover{
	color: black;
    background: white;
    transition: 0.4s;
    cursor: pointer;
}




.contact-form{
	width: 100%;
	padding: 100px 0px;
	background: white;

}
.contact-form .upper-part p{
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #86878b;
    margin-bottom: 65px;
    font-weight: 100;
}
.bloop{

}
.form-section{
	padding: 0px 30px;
}
.form-input input{
	margin: 15px;
    padding: 11px;
    width: 90%;
    border: none;
    outline: none;
    border-bottom: 1px solid #bdbdbdbf;
}
.form-input .placeholder{
	color: #bdbdbdbf;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 100;

}
.form-message{
    padding-top: 15px;
}
.form-message p{
	color: #bdbdbdbf;
	margin: 0px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 100;
}
.form-message textarea{
	border: none;
	padding-top: 10px;
    outline: none;
    border-bottom: 0.5px solid #bdbdbdbf;
}
.form-button{
	text-align: center;
	padding-top: 50px;
}
.form-button button{
	color: white;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
    background: #f79750;
    padding: 12px 21px;
    border: none;
    transition: 0.4s;
    border-radius: 2px;
}
.form-button button:hover{
	background: #333333;
    transition: 0.4s;
}
.footer{
	width: 100%;
	background: black;
	padding: 10px 0px;
}
.footer-icon{
	text-align: center;
}
.footer-icon ul{
	margin: 0px;
}
.footer-icon li{
	list-style: none;
	display: inline-block;
	padding-left: 15px;
}
.footer-icon  i{
	font-size: 25px;
    width: 40px;
    background: none;
    height: 40px;
    border-radius: 12px;
    line-height: 40px;
    color: #808080a8;
    cursor: pointer;
    transition: 0.4s;
}
.footer-icon  i:hover{
	color: #333333 !important;
	transition: 0.4s;
	cursor: pointer;
	background-color: white;